/* FONTS
font-family: number-five-smooth, sans-serif;
	font-style: normal;
	font-weight: 400
font-family: gill-sans-nova, sans-serif;
	font-weight: bold;
	font-style: normal
font-family: futura-pt, sans-serif;
	font-weight: 300;
	font-style: normal

/* GLOBAL */
* {
	scroll-behavior: smooth
}
html {
	height: 100%;
	overflow: hidden;
}
body {
	height: 100%;
	min-height: 100%;
	/* MNM: keep header and footer from scrolling by making this hidden instead of auto*/
	overflow: hidden;
	position: relative;
}
@media only screen and (min-width: 768px) {
	.mobile {
		display: none
	}
	.page-content {
		overflow: hidden
	}
}
@media only screen and (max-width: 767px) {
	.desktop {
		display: none !important
	}
}
.page-content {
 	overflow: auto;
	flex: 1 1 auto
}
.flex-wrap {
	overflow: auto
}
p {
	word-break: break-word;
	line-height: 45px
}

/* NAVIGATION BAR */
/* MOBILE */
nav {
	background-color: #373A40;
	flex-shrink: 0
}
.navbar-brand {
	font-family: number-five-smooth, sans-serif;
	font-style: normal;
	font-weight: 400;
	color: #EDE2CF;
	font-size: 7vw;
}
.navbar-toggler:focus {
	outline: none;
	box-shadow: none
}
button img {
	box-shadow: 0 0 0 0 rgba(0,0,0,0) !important
}
li {
	font-family: futura-pt, sans-serif;
	font-weight: lighter;
	font-style: normal;
	text-align: center;
	font-size: 25px
}
a {
	color: white
}
a:hover {
	color: #EDE2CF
}
#collapsibleNavbar .active {
	color: #EDE2CF
}

/* DESKTOP  */
@media only screen and (min-width: 768px) {
	.navbar-expand-md {
		padding: 0 0 0 0;
		border: 2px solid #373A40
	}
	nav {
		background-color: white
	}
	.navbar-brand {
		background: #373A40;
		font-size: 40px;
		padding: 12px 15px 10px 15px;
		background-clip: border-box;
		border: 1px solid #373A40;
		margin: 0
	}
	.navbar-nav a {
		color: #373A40;
		white-space: nowrap;
		font-size: 3.2vw;
	}
	.navbar-nav a:hover {
		color: #EDE2CF
	}
	.navbar-nav .separator {
		border-left: thin solid #373A40
	}
	.navbar-expand-md .navbar-collapse {
		display: flex !important;
	}
	.navbar-nav {
		width: 100%;
		justify-content: space-around
	}
	@media only screen and (min-width: 1066px) {
		.navbar-nav a {
			font-size: 33px
		}
	}
}

/* HOME */
#marissameadows {
	background-color: #DA8573
}
/* MOBILE */
.mainimage img {
	display: flex;
	float: none;
	margin-left: auto;
	margin-right: auto;
	margin-top: 24px;
	position: relative;
	z-index: -1;
	width: 310px;
	align-content: center;
	justify-content: center;
}
h1 {
	font-family: gill-sans-nova, sans-serif;
	font-weight: bold;
	font-style: normal;
	color: #EDE2CF;
	text-shadow: 1px 2px 6px #373A40;
	font-size: 60px;
	padding-bottom: 0px;
	margin-bottom: 0px;
	text-align: center;
	display: flex;
	justify-content: center;
	align-content: center
}
h2 {
	font-family: futura-pt, sans-serif;
	font-weight: 300;
	font-style: normal;
	color: #373A40;
	padding-top: 1px;
	margin-left: 15px;
	margin-right: 15px;
	text-align: center;
	display: flex;
	justify-content: center;
	align-content: center
}
@media (max-width: 528px){
	.mainimage img {width: 64vw}
}
.twolines {display: none}
/* DESKTOP */
@media only screen and (min-width: 768px) {
	.page-content {
		background-image: url("../img/MainImage-1.png");
		background-repeat: no-repeat;
		background-position: 8px 24px;
		background-size: 435px auto;
	}
	h1 {
		justify-content: flex-end;
		font-size: 8.5vw;
		letter-spacing: 5px;
		text-align: right;
		margin: 4% 3% 0 0;
		align-content: space-between
	}
	h2 {
		justify-content: flex-end;
		margin: 30px 5% 0 412px;
		text-align: right;
		font-size: 6vw;
		align-content: space-between
	}
	.longline {display: none}
	.twolines {display: flex}
}
@media only screen and (min-width: 1129px) {
	.longline {display: flex}
	.twolines {display: none}
	h2 {
		font-size: 5vw;
		margin-top: 54px
	}
}

/* ABOUT ME */
#mobileaboutme {
	background-color: #F0E5D6;
	display: flex;
	justify-content: center;
	align-items: center
}
.aboutme .carousel {
	width: 241px;
	height: 482px;
	border: thick solid #373A40;
}
.aboutme ol {
	margin-bottom: 0rem
}
.carousel-indicators li {
	height: 20px;
	width: 20px;
	background-color: #FFFFFF;
	opacity: .5;
}
.carousel-indicators .active {
	background-color: #FFFFFF;
	opacity: 1
}
.aboutme .carousel-inner {
	display: flex;
}
.aboutme .carousel-item video {
	width: 231px;
	display: flex;
	height: 462px
}
#aboutme-mobile {
	display: none
}
.aboutme .carousel-item p {
	display: flex;
	width: 233px;
	font-family: futura-pt, sans-serif;
	font-weight: 300;
	font-style: normal;
	color: #373A40;
	font-size: 24px;
	text-align: center;
	justify-content: center;
	align-items: center;
	margin: 0;
	height: 462px;
	padding: 0 5px 0 5px;
	line-height: 33px
}
.aboutme .carousel-item p a {
	font-family: futura-pt, sans-serif;
	font-size: 24px;
	color: white;
	display: contents;
	text-decoration: underline
}
.aboutme .carousel-item p a:hover {
	opacity: .5;
	text-decoration: underline
}
.aboutme .carousel-control-prev {
	margin-left: -16%;
}
.aboutme .carousel-control-next {
	margin-right: -14%
}
@media only screen and (min-width: 360px) {
	#aboutmelong {
		display: none
	}
	#aboutme-mobile {
		display: flex
	}
	.aboutme .carousel {
		width: 310px;
		height: 485px
	}
	.aboutme .carousel-item video {
		width: 300px
	}
	.aboutme .carousel-item p {
		width: 300px;
		height: 485px;
		font-size: 29px;
		padding: 0 13px
	}
	.aboutme .carousel-item p a {
		font-size: 29px
	}
	.aboutme .carousel-item h5 {
		width: 300px;
		height: 364px;
		font-size: 30px;
		padding-top: 52%
	}
	.aboutme .carousel-item h5 a {
		font-size: 40px
	}
}
@media only screen and (min-width: 411px) {
	#aboutmelong {
		display: none
	}
	#aboutme-mobile {
		display: flex
	}
	.aboutme .carousel {
		width: 351px;
		height: 433px
	}
	.aboutme .carousel-item video {
		width: 341px
	}
	.aboutme .carousel-item p {
		width: 341px;
		height: 424px;
		font-size: 32px
	}
	.aboutme .carousel-item h5 {
		width: 341px;
		height: 424px;
		font-size: 35px
	}
	.aboutme .carousel-item h5 a {
		font-size: 44px
	}
}
@media only screen and (min-height: 812px) {
	#aboutmelong {
		display: flex
	}
	#aboutme-mobile {
		display: none
	}
	.aboutme .carousel {
		width: 310px;
		height: 529px
	}
	.aboutme .carousel-item video {
		width: 300px
	}
	.aboutme .carousel-item p {
		width: 300px;
		height: 519px;
		font-size: 33px;
		line-height: 38px
	}
	.aboutme .carousel-item p a {
		font-size: 33px
	}
	.aboutme .carousel-item h5 {
		width: 300px;
		height: 519px;
		font-size: 33px;
		padding-top: 70%
	}
}
/* DESKTOP */
#aboutme {
	background-color: #F0E5D7;
	margin-top: 185px
}
.aboutme-row {
	display: flex;
	border: 2px solid #373A40;
}
.aboutme-row img {
	object-fit: cover;
	width: 23vw;
	min-width: 100%;
	height: 558px;
}
.carousel-control-prev:focus, .carousel-control-next:focus {
	display: none
}
@media only screen and (min-width: 768px){
	.aboutme .carousel {
		height: 558px;
		width: 400px;
		border: 2px solid #373A40
	}
	.aboutme .carousel-item video {
		margin: auto
	}
	.aboutme .carousel-item p {
		width: 396px;
		height: 554px;
		padding: 0 25px 0 25px
	}
	.aboutme .carousel-item h5 {
		width: 396px;
		height: 554px;
		padding: 57% 40px 0 40px
	}
	.aboutme .carousel-item h5 a {
		font-size: 50px
	}
	.aboutme .carousel-control-prev {
		margin-left: -4%
	}
	.aboutme .carousel-control-next {
		margin-right: -2%
	}
}
@media only screen and (min-width: 870px) {
	#aboutme {
		margin-top: 138px
	}
}
@media only screen and (min-width: 990px) {
	#aboutme {
		margin-top: 90px
	}
}
@media only screen and (min-width: 1178px) {
	#aboutme {
		margin-top: 108px
	}
	.aboutme-row {
		border: none
	}
	.aboutme .carousel {
		width: 470px
	}
	.aboutme .carousel-control-prev {
		margin-left: -2%
	}
	.aboutme .carousel-control-next {
		margin-right: -2%
	}
	.aboutme .carousel-item video {
		height: 554px;
		width: auto
	}
	.aboutme .carousel-item p {
		width: 465px;
		padding: 0 36px 0 36px
	}
	.aboutme .aboutme-row img {
		width: 355px;
    	height: 558px;
   		min-width: auto;
		border: 2px solid #373A40
	}
	#leftpic {
		justify-content: flex-end
	}
}

/* GALLERY */
/* MOBILE */
#mobilegallery {
	flex: 1 1 auto;
	overflow: auto;
	background-color: #ACCDD9;
}
#galleryheader {
	display: flex;
	justify-content: center;
	align-content: start;
	background-color: #4C5258;
	overflow: hidden
}
#galleryheaderlong {
	display: none
}
@media (min-width: 500px) {
	#galleryheadermobile {display: none}
	#galleryheaderlong {display: flex}
	#galleryheader {background-color: #42444B}
}
#gallerypicsmobile {
	align-items: center;
	justify-content: space-around;
	margin: 20px
}
#gallerypicsmobile .column {
	margin: 10px 10px 20px 10px
}
#gallerypicsmobile .row {
	justify-content: space-around
}
#gallerypics .column {
	margin: 10px 10px 20px 10px
}
#gallerypicsmobile img{
	width: 171px;
	height: 171px;
	margin: 0 0 8px 0
}

/* DESKTOP */
#gallery {
	flex: 1 1 auto;
	overflow: auto;
	background-color: #ACCDD9;
	border: 2px solid #373A40;
	height: 754px
}
@media only screen and (min-width: 768px) {
	#gallery video {
		display: flex;
		width: 219px;
	}
}
#desktopgalleryheader {
	display: flex;
	background-color: #494c54;
	align-items: center
}

#gallerypicsdesktop {
	justify-content: center;
	align-content: center;
}
#gallerypics {
	margin: 0px 20px
}
#gallerypics img{
	width: 171px;
	height: 171px;
	margin: 0 0 8px 0
}

/* VIDEOS */
/* MOBILE */
#mobilevideos {
	flex: 1 1 auto;
	overflow: auto;
	background-color: #DA8573;
}
#videoheader {
	display: flex;
	justify-content: center;
	align-content: start;
	background-color: #4E4C53;
	overflow: hidden
}
#videoheaderlong {
	display: none
}
@media (min-width: 500px) {
	#videoheadermobile {display: none}
	#videoheaderlong {display: flex}
	#videoheader {background-color: #42444B}
}
#videocarousel .carousel {
	width: 78vw;
	height: auto
}
#videocarousel {
	margin-top: 15px
}
#videocarousel .carousel-indicators {
	list-style: none;
	top: 315px;
	margin-right: 0%;
	margin-left: 0%
}
#videocarousel .carousel-indicators li, .carousel-indicators li .active {
	width: 157px;
	height: 95px;
	position: relative;
	margin: 10px
}
#videocarousel .carousel-indicators img {
	position: absolute;
	width: 100%;
	height: 100%;
	top: 0;
	left: 0;
	object-fit: cover
}
#videocarousel .carousel-inner {
	display: flex;
	justify-content: center
}
#videocarousel .carousel-item {
	float: none;
	width: auto;
	margin-right: 0
}
#videocarousel .carousel-control-prev, .carousel-control-next {
	width: 10%
}
#videocarousel iframe {
	width: 64vw;
	height: 315px
}
/* DESKTOP */
#videos {
	background-color: #DC8575;
	display: flex;
	justify-content: center;
	height: 534px;
	border: 2px solid #373A40
}
#videos #videocarousel .carousel-indicators {
	top: 350px
}
#videos #videocarousel iframe {
	margin-top: 40px
}
#videos .carousel-control-prev, #videos .carousel-control-next {
	bottom: 100px
}
#desktopvideosheader video {
	height: 530px
}
#videos #videocarousel .carousel-control-prev {
	left: -8px
}
#videos #videocarousel .carousel-control-next {
	right: -8px
}

/* RECENT NEWS */
/* MOBILE */
#recentnewsvideo {
	display: flex;
	justify-content: center;
	background-color: #F0E8DB
}
h3 {
	display: flex;
	font-family: number-five-smooth, sans-serif;
	font-style: normal;
	font-weight: 400;
	color: #DD8576;
	justify-content: center;
	margin: 0px;
	padding-top: 12px;
	font-size: 34px
}
hr {
	width: 85%;
	text-align: center;
	border-top: 4px solid #DD8576;
	margin-top: 4px;
	margin-bottom: -2px
}
#news {
	background-color: #F0E8DB
}
#news .news-section {
	border: 9px double #173D42;
	margin: 5px 3px 0px 3px;
	background-color: white
}
.line {
	display: flex;
	justify-content: center
}
#news img {
	width: 76%;
	height: 13px
}
.news-p {
	align-content: center
}
#news p {
	font-family: futura-pt, sans-serif;
	font-weight: 300;
	font-style: normal;
	text-align: center;
	padding: 21px 10px 21px 10px;
	font-size: 24px;
	margin: 0;
	line-height: 38px
}
.news-section:last-of-type {
	margin-bottom: 8px
}

/* DESKTOP */
#recentnews {
	background-color: #F0E8DB;
	width: 50%;
	height: 550px;
	border: 2px solid #373A40;
	border-bottom: none
}
#recentnews .carousel {
	width: 100%;
	height: 100%;
	display: flex;
	align-items: center
}
#recentnews ol {
	margin-bottom: 0rem
}
#recentnews .carousel-indicators li {
	height: 20px;
	width: 20px;
	background-color: white;
	opacity: .5
}
#recentnews .carousel-indicators .active {
	background-color: white;
	opacity: 1
}
#recentnews .carousel-inner {
	display: flex
}
#recentnews .carousel-item video {
	width: 100%;
	display: flex
}
#recentnews .carousel-item .active {
	display: flex;
	align-items: center
}
#recentnews .carousel-control-prev, #recentnews .carousel-control-next {
	bottom: 50px;
	align-items: flex-end
}
#recentnews .carousel-control-prev {
	left: 36%
}
#recentnews .carousel-control-next {
	right: 38%
}
#recentnews #container {
	height: 345px;
	margin-bottom: 40px;
	display: flex
}
#recentnews .line img {
	width: 76%;
	height: 18px
}
#recentnews p {
	font-family: futura-pt, sans-serif;
	font-weight: 300;
	font-style: normal;
	text-align: center;
	padding: 21px 10px 7px 10px;
	font-size: 24px;
	margin: 0;
}
#recentnews .news-section {
	height: 100%;
	justify-content: center
}
#recentnews .newstext {
	background-color: white;
	width: 90%;
	border: 9px double #173D42;
	margin: 0px 5% 40px 5%
}

/* RESUME */
#resume {
	background-color: #ACCDD9;
	width: 50%;
	height: 550px;
	position: relative
}
#resume .cropped {
	width: 100%;
	height: 550px;
	object-fit: cover;
	object-position: -9px 30px
}
#resume img {
	width: 500px;
	height: auto
}
#resume #resumetext {
	width: 130px;
	position: absolute;
	bottom: 120px;
	right: 6%
}
h4 {
	font-family: number-five-smooth, sans-serif;
	font-style: normal;
	font-weight: 400;
	color: #EDE2CF;
	font-size: 45px;
}
#resume h4 a {
	font-family: number-five-smooth, sans-serif;
	font-style: normal;
	font-weight: 400;
	font-size: 45px;
	color: #DD8576;
	text-shadow: 1px 1px 2px #373A40
}
@media only screen and (min-width: 900px) {
	#resume #resumetext {
		width: 185px;
		bottom: 72px
	}
	h4 {
		font-size: 60px
	}
	#resume h4 a {
		font-size: 60px
	}
}
@media only screen and (min-width: 1000px) {
	#resume #resumetext {
		width: 317px;
		bottom: 181px;
		right: 0;
		left: 18vw
	}
}

/* CONTACT ME */
.list-group-item {
	text-align: center;
	font-family: gill-sans-nova, sans-serif;
	font-weight: bold;
	font-style: normal;
	border-width: thick;
	border-color: #373A40;
}
#contactme ul a {
	color: #373A40;
	text-decoration: none;
}
#contactme ul a:hover {
	color: #373A40;
	text-decoration: underline
}
#contactme ul img {
	width: 40px;
	margin-top: -5px
}
@media (max-width: 615px) {
	#contactme .contacttext {display: none}
}
